<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en">
<!--<![endif]-->

<!-- Mirrored from opencart.templatemela.com/OPCADD5/OPC110/index.php?route=product/special by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Feb 2020 08:01:30 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Special Offers</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


    <link href="image/catalog/cart.png" rel="icon" />
    <!-- Megnor www.templatemela.com - Start -->


    <!-- ======= Quick view JS ========= -->
    <script>

        function quickbox(){
            if ($(window).width() > 767) {
                $('.quickview-button').magnificPopup({
                    type:'iframe',
                    delegate: 'a',
                    preloader: true,
                    tLoading: 'Loading image #%curr%...',
                });
            }
        }
        jQuery(document).ready(function() {quickbox();});
        jQuery(window).resize(function() {quickbox();});

    </script>

    <!-- Megnor www.templatemela.com - End -->
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}


</head>


<body class="product-special   layout-2 left-col">
<nav id="top">
    <div class="container">
        <div class="nav_left">  <div class="header-cms-top">
                <p>Biggest Indian Sale Flate ( Coupn Code : FREE 15 )</p>
            </div>

            <div class="top-link">
                <a class="link-item" href="#">Get Support</a>
                <a class="link-item" href="#">Register &amp; Lists</a>
                <a class="link-item" href="#">Track Orders</a>
                <a class="link-item" href="#">Credit Card</a>
            </div>

        </div>
        <div class="nav_right"></div>
    </div>
</nav>
<header>
<div class="header_top">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 header-logo">
                <div id="logo"><a href="index9328.html?route=common/home"><img src="image/catalog/logo.png" title="Your Store" alt="Your Store" class="img-responsive" /></a>		</div>
            </div>
            <div class="header_center">
                <div class="header-cartright">
                    <div class="head-right-bottom">
                        <div class="headertopright">
                            <div class="text2">
                                <div class="cms-data-info">
                                    <div class="text2-dec">Whatsapp</div>
                                    <a href="index2724.html?route=information/contact"><span class="hidden-xs hidden-sm hidden-md">123456789</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="nav-container" role="navigation">
                    <div class="nav-inner">
                        <!-- ======= Menu Code START ========= -->
                        <!-- Opencart 3 level Category Menu-->
                        <div id="menu" class="main-menu">
                            <div id="res-menu" class="main-menu nav-container1 responsive-menu">
                                <div class="nav-responsive"><span>Menu</span><div class="expandable"></div></div>
                                <ul class="main-navigation">
                                    <li><a href="index9328.html?route=common/home">Home</a></li>
                                    <li><a href="index98dc.html?route=product/category&amp;path=20">Accessories</a>

                                        <ul>
                                            <!-- 2 Level Sub Categories START -->
                                            <li class="dropdown"><a href="indexd9fe.html?route=product/category&amp;path=20_26">Car Exterior</a>

                                                <ul class="col14">
                                                    <li><a href="index0296.html?route=product/category&amp;path=20_26_60">Car Covers</a></li>
                                                    <li><a href="index7d11.html?route=product/category&amp;path=20_26_61">Grills</a></li>
                                                    <li><a href="indexdfd9.html?route=product/category&amp;path=20_26_62">Carriers</a></li>
                                                    <li><a href="indexd236.html?route=product/category&amp;path=20_26_63">Bumper</a></li>
                                                    <li><a href="index7ac8.html?route=product/category&amp;path=20_26_64">Door</a></li>
                                                </ul>

                                            </li>
                                            <!-- 2 Level Sub Categories END -->

                                        </ul>
                                        <ul>
                                            <!-- 2 Level Sub Categories START -->
                                            <li class="dropdown"><a href="indexf345.html?route=product/category&amp;path=20_27">Car Interior</a>

                                                <ul class="col14">
                                                    <li><a href="indexa900.html?route=product/category&amp;path=20_27_65">Mobile Charger</a></li>
                                                    <li><a href="indexa5b0.html?route=product/category&amp;path=20_27_66">Steering</a></li>
                                                    <li><a href="index4774.html?route=product/category&amp;path=20_27_67">Gear</a></li>
                                                    <li><a href="index68ae.html?route=product/category&amp;path=20_27_68">Sun Protection</a></li>
                                                    <li><a href="index7e30.html?route=product/category&amp;path=20_27_69">Seat Covers</a></li>
                                                </ul>

                                            </li>
                                            <!-- 2 Level Sub Categories END -->

                                        </ul>
                                        <ul>
                                            <!-- 2 Level Sub Categories START -->
                                            <li class="dropdown"><a href="index6dbd.html?route=product/category&amp;path=20_59">Car Safety &amp; Security</a>

                                                <ul class="col14">
                                                    <li><a href="index830b.html?route=product/category&amp;path=20_59_70">LCR Hallcrest</a></li>
                                                    <li><a href="indexbeb7.html?route=product/category&amp;path=20_59_71">Spray Jet Gun</a></li>
                                                    <li><a href="index2865.html?route=product/category&amp;path=20_59_72">Fire Extinguisher</a></li>
                                                    <li><a href="index2d1b.html?route=product/category&amp;path=20_59_73">Vaccum Cleaner</a></li>
                                                    <li><a href="index6328.html?route=product/category&amp;path=20_59_74">Carsaaz</a></li>
                                                </ul>

                                            </li>
                                            <!-- 2 Level Sub Categories END -->

                                        </ul>


                                    </li>
                                    <li><a href="index7fa3.html?route=product/category&amp;path=18">Suspension</a></li>
                                    <li><a href="index1647.html?route=product/category&amp;path=25">Engine</a>

                                        <ul>
                                            <!-- 2 Level Sub Categories START -->
                                            <li class="dropdown"><a href="indexe177.html?route=product/category&amp;path=25_28">Cooling</a>

                                                <ul class="col14">
                                                    <li><a href="index0b4e.html?route=product/category&amp;path=25_28_35">Radiator</a></li>
                                                    <li><a href="index6d46.html?route=product/category&amp;path=25_28_36">Thermostat</a></li>
                                                </ul>

                                            </li>
                                            <!-- 2 Level Sub Categories END -->
                                            <!-- 2 Level Sub Categories START -->
                                            <li><a href="index68a7.html?route=product/category&amp;path=25_30">Air supply</a></li>
                                            <!-- 2 Level Sub Categories END -->
                                            <!-- 2 Level Sub Categories START -->
                                            <li><a href="indexf3db.html?route=product/category&amp;path=25_31">Ignition</a></li>
                                            <!-- 2 Level Sub Categories END -->

                                        </ul>


                                    </li>
                                    <li><a href="indexb152.html?route=product/category&amp;path=17">Interior</a></li>
                                    <li><a href="indexc957.html?route=product/category&amp;path=24">Steering</a></li>
                                    <li><a href="index68ea.html?route=product/category&amp;path=33">Brakes</a></li>
                                    <li><a href="index8122.html?route=product/category&amp;path=34">Trims</a></li>
                                    <li><a href="index70a9.html?route=product/category&amp;path=57">Service Parts</a></li>
                                    <li><a href="indexcac5.html?route=product/category&amp;path=75">Maintenance</a></li>
                                    <li><a href="index08bf.html?route=product/category&amp;path=76">Transmission</a></li>
                                    <li><a href="indexdb3b.html?route=product/category&amp;path=77">Lubricants</a></li>
                                    <li><a href="indexaf75.html?route=product/category&amp;path=78">Universal</a></li>
                                    <li><a href="indexc94f.html?route=product/category&amp;path=79">motor vehicles</a></li>
                                </ul>
                            </div>
                            <div class="static-menu">
                                <ul id="static-menu">
                                    <li><a href="index9328.html?route=common/home">Home</a></li>
                                    <li class="new menu-item"><a href="indexf110.html?route=product/special">New collection</a></li>
                                    <li class="hot menu-item"><a href="indexf110.html?route=product/special">Specials</a></li>
                                    <li><a href="index2724.html?route=information/contact">Contact Us</a></li>
                                    <li class="toplink"><a href="indexc295.html?route=information/blogger/blogs">Blogs </a></li>
                                </ul>
                            </div>

                        </div>
                    </div>




                </nav>
            </div>
        </div>
    </div>
</div>
</header>
                {{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('bootstrap') }}
{{ encore_entry_script_tags('custom') }}
{{ encore_entry_script_tags('jstree') }}
{{ encore_entry_script_tags('carousel') }}
{{ encore_entry_script_tags('megnor') }}
{{ encore_entry_script_tags('jquery') }}
{{ encore_entry_script_tags('jquery1') }}
{{ encore_entry_script_tags('jquery2') }}
{{ encore_entry_script_tags('bootstrap-notify') }}
{{ encore_entry_script_tags('magnific-popup') }}
{{ encore_entry_script_tags('tabs') }}
{{ encore_entry_script_tags('lightbox') }}
{{ encore_entry_script_tags('bxslider') }}
{{ encore_entry_script_tags('common') }}
{{ encore_entry_script_tags('swiper') }}
{{ encore_entry_script_tags('carousel2') }}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
<!-- Theme created by Welford Media for OpenCart 2.0 www.welfordmedia.co.uk -->
</body>
<!-- Mirrored from opencart.templatemela.com/OPCADD5/OPC110/index.php?route=product/special by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Feb 2020 08:01:32 GMT -->
</html>